<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.0">
<servlet>
    <servlet-name>AppServlet</servlet-name>
    <servlet-class>DB_Project.AppServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AppServlet</servlet-name>
    <url-pattern>/AppServlet</url-pattern>
</servlet-mapping>
    <servlet>
        <servlet-name>AdminOp</servlet-name>
        <servlet-class>DB_Project.AdminOp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminOp</servlet-name>
        <url-pattern>/AdminOp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminOp2</servlet-name>
        <servlet-class>DB_Project.AdminOp2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminOp2</servlet-name>
        <url-pattern>/AdminOp2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlockOp</servlet-name>
        <servlet-class>DB_Project.BlockOp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlockOp</servlet-name>
        <url-pattern>/BlockOp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BPage</servlet-name>
        <servlet-class>DB_Project.BPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BPage</servlet-name>
        <url-pattern>/BPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayServlet</servlet-name>
        <servlet-class>DB_Project.DisplayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayServlet</servlet-name>
        <url-pattern>/DisplayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FifthPage</servlet-name>
        <servlet-class>DB_Project.FifthPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FifthPage</servlet-name>
        <url-pattern>/FifthPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FourthPage</servlet-name>
        <servlet-class>DB_Project.FourthPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FourthPage</servlet-name>
        <url-pattern>/FourthPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThirdPage</servlet-name>
        <servlet-class>DB_Project.ThirdPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThirdPage</servlet-name>
        <url-pattern>/ThirdPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SecondPage</servlet-name>
        <servlet-class>DB_Project.SecondPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecondPage</servlet-name>
        <url-pattern>/SecondPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FromTo</servlet-name>
        <servlet-class>DB_Project.FromTo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FromTo</servlet-name>
        <url-pattern>/FromTo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>DB_Project.LogoutAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
</web-app>
